
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
}
:root {
	--gren-gray-scale-900: #002603;
	--gren-gray-scale-800: #173b1a;
	--gren-gray-scale-700: #2b572e;
	--gren-gray-scale-600: #406b42;
	--gren-gray-scale-500: #618062;
	--gren-gray-scale-400: #7a997c;
	--gren-gray-scale-300: #96b297;
	--gren-gray-scale-200: #b4ccb4;
	--gren-gray-scale-100: #dae5da;
	--gren-gray-scale-50: #edf2ee;
	--gray-scale-gray-900: #1a1a1a;
	--gray-scale-gray-800: #333;
	--gray-scale-gray-700: #4d4d4d;
	--gray-scale-gray-600: #666;
	--gray-scale-gray-500: #808080;
	--gray-scale-gray-400: #999;
	--gray-scale-gray-300: #b3b3b3;
	--gray-scale-gray-200: #ccc;
	--gray-scale-gray-100: #e6e6e6;
	--gray-scale-gray-50: #f2f2f2;
	--gray-scale-white: #fff;
	--branding-success-bright: #84d187;
	--branding-success: #00b207;
	--branding-success-dark: #2c742f;
	--branding-warning: #ff8a00;
	--branding-error: #ea4b48;


        --font-family: "Poppins", sans-serif;
        --second-family: "Segoe Script", sans-serif;
        --third-family: "Dancing Script", sans-serif;

}
a {
    text-decoration: none;
}
.container {
	height: auto;
	width: 1320px;
	margin: 0 auto;
}
body {
    font-family: var(--font-family);
}
.headerTop {
	height: 50px;
	width: 100%;
	background: var(--gray-scale-gray-800);
	color: var(--gray-scale-gray-300);
	/* padding: 10px 0px; */
	display: flex;
	align-items: center;
}
.headerTop-box {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.header-option {
	display: flex;
	flex-direction: row;
}

.option {
	padding: 0px 20px;
	border-right: 1px solid var(--gray-scale-gray-300);
	margin-right: 20px;
}
.option select {
	outline: none;
	border: none;
	background: transparent;
	color: var(--gray-scale-gray-300);
}
.quick-link a {
	color: var(--gray-scale-gray-300);
}





.headerMiddle {
	height:60px;
	width: 100%;
	background: var(--gray-scale-white);
	/* background: pink; */
	display: flex;
	justify-content: center;
	align-items: center;
}
.middel-box {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.logo-box {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background: white;
}
.search-box {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background: white; */
	/* padding: 10px; */
}
.search-box input {
	border: 1px solid var(--gray-scale-gray-100);
	border-radius: 6px 0px 0px 6px;
	width: 498px;
	height: 45px; 
	outline: none;
	padding: 0px 20px;
}
.search-box button {
	border-radius: 0 6px 6px 0;
	padding: 14px 24px;
	width: 98px;
	height: 45px;
	border: none;
	outline: none;
	background: var(--branding-success);
	color: var(--gray-scale-white);
}

.buy-shortcut {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.cart-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0px 10px;
	border-left: 1px solid var(--gray-scale-gray-300);
	margin-left: 20px;
}
.cart-box {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.headerBottom {
	height: 56px;
	width: 100%;
	background: var(--gray-scale-gray-50);
	font-size: 14px;
}
.headerBottom-box {
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.left-bottom {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* justify-content: center; */
	gap: 20px;
}
.left-bottom select {
	height: 56px;
	width: 218px;
	background: var(--branding-success);
	color:var(--gray-scale-white);
	padding: 10px 20px;
	border: none;
	outline: none;
}
.bottom-menu {
	display: flex;
	flex-direction: row;
	gap: 32px;
}
.bottom-menu a {
	color: var(--gray-scale-gray-500);
}
.bottom-menu a:hover {
	color: var(--branding-success);
}
.right-bottom {
	height: 56px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 14px;
}



/* herror Slider Section START  */
.herror-slider {
    height: 640px;
    width: 100%;
    background: var(--gray-scale-gray-100);
}

/* herror Slider Section END  */










.items-box {
    height: auto;
    width: 100%;
    background: var(--gray-scale-gray-100);
}
.mainItems-box {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
.items-upper {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: center;
    margin-top: 63px;
}
.itemsBox {
    box-sizing: border-box;
    padding: 20px;
    width: 330px;
    height: 222px;
    background: var(--gray-scale-white);
    border-right: 1px solid var(--gray-scale-gray-50);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    transition: 0.3s ;
 
}
.itemsBox span h1{
    color: var(--gray-scale-gray-900);
    font-size: 18px;
}
.itemsBox span p{
    color: var(--gray-scale-gray-400);
    font-size: 14px;
}
.itemsBox:hover {
    background: var(--branding-success);
    color: white;
}
.itemsBox:hover h1 {
    color: white;
}
.itemsBox:hover p {
    color: white;
}
.itemsBox:first-child {
    border-radius: 8px 0 0 8px;
}
.itemsBox:last-child {
    border-radius: 0 8px;;
}
.itemsImg {
    fill: var(--gray-scale-white);
    stroke-width: 1px;
    stroke: var(--gray-scale-gray-100);
    height: 70px;
    width: 70px;
    background: white;
    border-radius: 50%;
    border: 1px solid var(--gray-scale-gray-100);
    display: flex;
    justify-content: center;
    align-items: center;
}


.items-lower {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding-top: 50px;
}
.itemsTitle {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.lower-menu {
	height: 50px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	/* background: var(--gray-scale-white); */
	margin: 20px 0px;
} 
.lower-menu .mixiMenu {
	color: var(--gray-scale-gray-400);
	padding: 5px 20px;
	/* margin: 0px 10px; */
	position: relative;
	background: transparent;
	border: none;
	cursor: pointer;
}
.lower-menu .mixiMenu::before {
	content: '';
	position: absolute;
	height: 2px ;
	width: 0%;
	background: var(--branding-success);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: 0.3s;
}
.lower-menu .mixiMenu:hover:before{
	width: 70%;
}
.lower-menu .mixiMenu::after {
	content: '';
	position: absolute;
	height: 16px;
	width: 1px ;
	background: var(--gray-scale-gray-300);
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.lower-menu .mixiMenu:hover {
	color: var(--branding-success);
}




.mix {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

}
.mixer-prodect {
	height: 428px;
	width: 328px;
	border:1px solid var(--gray-scale-gray-300);
	/* border-radius: 5px; */
	overflow: hidden;
	background: var(--gray-scale-white);
	border: 1px solid var(--gren-gray-scale-100);	
}
.product-img {
	height: 310px;
	width: 100%;
	position: relative;
}
.img-overlay {
	position: absolute;
	top: 0;
	
}
.offer {
	background: var(--branding-warning);
	padding: 5px 10px ;
	color: var(--gray-scale-white);
	border-radius: 4px;
	top: 20px;
	left: 20px;

}
.overlay-btn {
	height: 48px;
	width: 48px;
	border-radius: 50%;
	border: 1px solid var(--gray-scale-gray-200);
	display: flex;
	align-items: center;
	justify-content: center;
	background: transparent;
	visibility: hidden;
	cursor: pointer;

}
.favorite {
	right: 20px;
	top: 20px;
}
.eye {
	top: 74px;
	right: 20px;
}
.mixer-prodect:hover .overlay-btn {
	visibility: visible;
}
.mixerProduct-dittelS {
	box-sizing: border-box;
	padding: 16px 20px 20px 20px;
	height: 118px ;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.mixerProduct-left {
	height: 118px;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: start;

	font-size: 16px;
	color:var(--branding-success-dark);	
	gap: 10px;
}

.product-ranking {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: start;
	/* align-items: center; */
}

.product-ranking i {
	color: var(--branding-warning);
}
.product-ranking i:last-child {
	color: var(--gray-scale-gray-300);
}
.mixerProduct-right {
	height: 100%;
}
.card-box {
	height: 50px;
	width: 50px;
	background: var(--gray-scale-gray-200);
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--gray-scale-gray-900);
}
/* .card-box:hover {
	
} */
.mixer-prodect:hover .card-box{
	background: var(--branding-success);
	color: var(--gray-scale-white);
}


/* spacial product items Start  */
.spacial-product {
	height: auto;
	width: 100%;
}
.spacialProduct-box {
	height: 400px;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap:24px;
	justify-content: center;
	align-items: center;
}
.spaicalItems {
	width: 424px;
	height: 255px;
	border-radius: 8px;
	object-fit: contain;
	position: relative;
}
.sItems-dittels {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
	box-sizing: border-box;
	padding: 40px 24px;
}
.spaicalItems h1 {
	font-weight: 600;
	font-size: 32px;
	color: var(--gray-scale-white);
	font-weight: 600;
}
.spaicalItems p {
	color: rgba(255, 255, 255, 0.8);
}
.spaicalItems p b {
	color: var(--gray-scale-white);
	size: 16px;
}
.sItems-dittels button {
	border-radius: 43px;
	padding: 14px 32px;
	width: 162px;
	height: 45px;
	background: var(--gray-scale-white);
	color: var(--branding-success);
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}
.coke-style {
	justify-content: center;
	align-items: end;
}
.coke-style p {
	color: var(--gren-gray-scale-900);
	font-weight: 500;
	font-size: 14px;
	text-align: center;
	margin-right: 80px;
	margin-top: 20px;
}
.coke-style h1 {
	font-size: 32px;
	color: var(--gray-scale-gray-900);
	font-weight: 600;
}
.brakefast h1{
	color: var(--gren-gray-scale-900);
}
.brakefast p{
	color: var(--gren-gray-scale-900);
}
/* spacial product items END  */



/* month lemite style Start   */
.monthLemite {
	box-sizing: border-box;
	padding: 0px 80px;
	height: 527px;
	width: 100%;
	display: flex;
	flex-direction: row;
	/* flex-wrap: wrap; */
	justify-content: space-around;
	align-items: center;
	/* gap: 50px; */
	background: var(--gray-scale-gray-50);
}
.limite-imgLeft {
	width: 521px;
	height: 308px;
}

.limite-imgRight {
	width: 604px;
	height: 527px;
	display: flex;
}
.limite-imgRight img {
	width: 100%;
	object-fit: cover
}
 .timer-box {
	height: 124px;
 }